@font-face {
    font-family: caviarDreams;
    src: url(fonts/caviardreams.ttf);
}

@font-face {
    font-family: varelaRound;
    src: url(https://fonts.googleapis.com/css?family=Varela+Round);
}

body {
      /*font: 20px Montserrat, sans-serif;*/
      font-family: Helvetica, Sans-Serif;
      line-height: 1.8;
      color: #f5f6f7;
      font-size: 16px;
  }

p { 
    font-family: Helvetica, Sans-Serif;
  }
  
p span{
     color: white; 
     font: bold 32px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
     letter-spacing: -1px; 
     background: rgb(0, 0, 0); /* fallback color */
     background: rgba(0, 0, 0, 0.2);
     padding: 10px; 
     margin: -30px;
  }

  .container-fluid {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 1100px;
      position: relative;
  }
  
  .top_img {
        height: 130px;
        margin-top: -10px;
  }
  .margin {margin-bottom: 45px;}

  .bg-1 {
      background-color: #ce7485;
      color: #ffffff;
      margin-left: 10%;
      margin-right: 10%;
      -moz-border-radius: 15px;
      border-radius: 15px;
  }
  .bg-2 {
      /*background-color: #474e5d;*/ /* Dark Blue */
      background-color: #f7f7f7;
      color: #ffffff;
      margin-top: 20px;
      -moz-border-radius: 15px;
      border-radius: 15px;
  }
  .bg-3 {
      background-color: #f7f7f7;
      color: #555555;
      -moz-border-radius: 15px;
      border-radius: 15px;

  }
  .bg-4 {
      /*background-color: #2f2f2f;*/ /* Black Gray */
      background-color: #2f2f3f;
      color: #fff;
      margin-top: 20px;
      -moz-border-radius: 15px 15px 0px 0px;
      border-radius: 15px 15px 0px 0px;
  }

  .mid_text{
    color:#3e3e7f;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mid_title{
      font: bold 32px caviarDreams;
      padding-bottom: 10px;
  }
  .mid_body{
      font: 22px varelaRound;
  }
  .block_title{
      font: bold 28px caviarDreams;
      padding-bottom: 10px;
      color:#3e3e7f;
  }
  .block_text{
    padding-top: 20px;
    color:#3e3e7f;
  }
  .my_row{
    margin-top: -35px;
  }

  .navbar {
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 7%;
      padding-right: 7%;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      background-color: #ffffff;
    
      margin-left: 15%;
      margin-right: 15%;
 
      font-size: 12px;
      
      letter-spacing: 5px;
      height: 110px;
      font: 15px Montserrat, sans-serif;
      /*font: 15px caviarDreams, Montserrat, sans-serif;*/
      /* min-width: 990px; */
  }
  
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
      z-index: 9999;
  }
  
  .navbar-nav {
    margin: 25px 15px 0px -15px;
    z-index: 9999;
    position: relative;
      color: #3e3e7f;
  background-color: #ffffff;
  }

  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
    z-index: 9999;
  }

  .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: transparent;
  }

  .inscape_drop_items:focus{
  background-color: #ce7485;
  }

  .navbar-collapse{
    border-top: none;
    margin-left: 20%;
    margin-right: 20%;
  }

  .container{
    display: block;
    width: 100%;
    
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    }
    
    .slide_img {
    /*position: absolute;*/
    width: 1100px;
    position: relative;

}



.ss_text_1 {
  font-size: 40px;
  position: absolute; 
  top: 20%;
  color: rgb(0,0,0);
}

.ss_text_2 {
  font-size: 40px;
  position: absolute; 
  top: 20%;
  color: rgb(0,0,0);
}

.ss_text_3 {
  font-size: 40px;
  position: absolute; 
  top: 20%;
}

.p_caption{
  font-size: 30px;
}

.slide_whole{
    /*position: absolute;*/
    width: 1100px;
    font-family: 'Varela Round';
    position: relative;  
}

.front_img {
  width:100%;
  max-height:250px; 
  max-width:336px; 
  margin: auto;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.logo_img{
  height: 70px; 
  margin:auto;
  }

.center {
    margin-left: auto;
    margin-right: auto;

}

.page_title{
  color: black;
  font: bold 32px caviarDreams;

}

.inner_text{
  padding: 40px;
}

@media only screen and (max-width: 1500px) {

  body {
      /*font: 20px Montserrat, sans-serif;*/
      font-family: 'Varela Round', Helvetica, Sans-Serif;
      line-height: 1.8;
      color: #f5f6f7;
      font-size: 16px;
  }
  p { 
  font-family: 'Varela Round';
  }
  
  p span{
     font: bold 30px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
  }
  
  .top_img {
        height: 130px;
        margin-top: -10px;
  }
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #ce7485; /* Redish */
      color: #ffffff;
      margin-left: 10%;
      margin-right: 10%;
  }
  .bg-2 {
      /*background-color: #474e5d;*/ /* Dark Blue */
      background-color: #f7f7f7;
      color: #ffffff;
  }
  .bg-3 {
      background-color: #f7f7f7;
color: #555555;
margin-top: 20px;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 20px;
      padding-bottom: 70px;
      width: 1100px;
      position: relative;
  }
  .mid_text{
    color:#3e3e7f;
         padding-top: 30px;
      padding-bottom: 30px;
  }
  .navbar {
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 7%;
      padding-right: 7%;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      background-color: #ffffff;
    
   margin-left: 5%;
      margin-right: 5%;
 
      font-size: 12px;
      
      letter-spacing: 5px;
      height: 110px;
      font: 15px Montserrat, sans-serif;
      /* min-width: 990px; */
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .navbar-nav {
    margin: 25px 15px 0px -15px;
    z-index: 10;
    position: relative;
  }
  .navbar-nav {
  color: #3e3e7f;
  background-color: #ffffff;
  }
  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
  }
  .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: transparent;
  }
  .inscape_drop_items:focus{
  background-color: #ce7485;
  }
  .navbar-collapse{
    border-top: none;
    margin-left: 10%;
    margin-right: 10%;
  }
  .container{
    display: block;
    width: 100%;
    
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    }
    
    .slide_img {
    /*position: absolute;*/
    width: 1100px;
    position: relative;

    /* 
margin-left: 10%;
    margin-right: 10%;
 */
    
}

.ss_text_1 {

}

.ss_text_2 {

}

.ss_text_3 {


}

.p_caption{
  font-size: 30px;
}
    .slide_whole{
    /*position: absolute;*/
    width: 1100px;
      font-family: 'Varela Round';
    position: relative;

    /* 
margin-left: 10%;
    margin-right: 10%;
 */
    
}


.center {
    margin-left: auto;
    margin-right: auto;

}

}

  
  @media only screen and (max-width: 1100px) {
    .bg-1 {
        background-color: lightblue;
        margin-left: 0%;
        margin-right: 0%; 
    }
      .container-fluid {
      padding-top: 20px;
      padding-bottom: 70px;
      width: 100%;
      position: relative;
  }

  p span{
     font: bold 22px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
  }

  .logo_img{
  }

  .ss_text_1 {

}

.ss_text_2 {
 
}

.ss_text_3 {

}

  .mid_text{
    color:#3e3e7f;
         padding-top: 30px;
      padding-bottom: 30px;
  }

.p_caption{
  font-size: 10px;
}
    
      .navbar {
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 0px;
      padding-right: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 10px;
      font-size: 12px;
      letter-spacing: 5px;
      height: 90px;
      margin-left: 0%;
      margin-right: 0%;
      z-index: 9999;
  }
  
    .navbar-collapse{
    border-top: none;
    margin-left: 0%;
    margin-right: 0%;
     z-index: 9999;
  }

      .navbar-nav  li a:hover {
      color: #1abc9c !important;
      z-index: 9999;
  }
  .navbar-nav {
    margin: 25px 15px 0px -15px;
    z-index: 9999;
    position: relative;
  }
  .navbar-nav {
  color: #3e3e7f;
  background-color: #ffffff;
  z-index: 9999;
  }
  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
    z-index: 9999;
  }
  .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: transparent;
  }
  .inscape_drop_items:focus{
  background-color: #ce7485;
  }
  
      /*position: absolute;*/
    .slide_img {
    width: 1100px;
    position: auto;
    clip: rect(0px,100px,100px,0px);
    margin-left: 0%;
    margin-right: 0%;
    }
        .slide_whole {
    /*position: absolute;*/
    /* 
margin-left: 10%;
    margin-right: 10%;
 */
 width: 100%;
    }

    .front_img {
  width:100%;
  /*max-height:200px;*/ 
  max-width:269px; 
  margin: auto;
}
    
      .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: #ffffff;
  }
  
}

@media only screen and (max-width: 754px){
    .front_img {
  width:100%;
  /*max-height:250px; */
  max-width:336px; 
  margin: auto;
}

  p span{
     font: bold 18px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
  }

}

@media only screen and (max-width: 746px){


}

@media only screen and (max-width: 554px){

  p span{
     font: bold 13px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
  }

  .logo_img{
    height: 40px;
    margin: auto;
  }

}

  @media only screen and (max-width: 380px) {

  p span{
     font: bold 11px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
  }
  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
    margin-left: -5px;
  }
          .navbar {
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 0px;
      padding-right: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 10px;
      font-size: 12px;
      letter-spacing: 5px;
      height: 90px;
      margin-left: 0%;
      margin-right: 0%;
      z-index: 9999;
  }
  
    .navbar-collapse{
    border-top: none;
    margin-left: 0%;
    margin-right: 0%;
    z-index: 9999;
  }

    .navbar-nav  li a:hover {
      color: #1abc9c !important;
      z-index: 9999;
  }
  .navbar-nav {
    margin: 25px 15px 0px -15px;
    z-index: 9999;
    position: relative;
  }
  .navbar-nav {
  color: #3e3e7f;
  background-color: #ffffff;
  z-index: 9999;
  }
  .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: transparent;
  }
  .inscape_drop_items:focus{
  background-color: #ce7485;
  }


}
    @media only screen and (max-width: 370px) {

     .top_img {
        weigth: 207px;
        height: 118px;
     }

     .container {
        padding-left: 0px;
        padding-right: 0px;
     }
}