@font-face {
    font-family: caviarDreams;
    src: url(fonts/caviardreams.ttf);
}

@font-face {
    font-family: varelaRound;
    src: url(https://fonts.googleapis.com/css?family=Varela+Round);
}

body {
    /*font: 20px Montserrat, sans-serif;*/
    font-family: Helvetica, Sans-Serif;
    line-height: 1.8;
    color: #f5f6f7;
    font-size: 16px;
    min-height: 100%;
    height: 100%;
    background-color: white;
}

html {
    height: 100%;
}

p { 
    font-family: Helvetica, Sans-Serif;
}
  
p span {
     /*color: white; 
     font: bold 32px caviarDreams; */
     /*bold 24px/45px Helvetica, Sans-Serif; */
     /*letter-spacing: -1px; 
     background: rgb(0, 0, 0);*/ /* fallback color */
     /*background: rgba(15, 0, 15, 0.2);
     padding: 10px; 
     margin: -30px;*/
}

.container-fluid {
      padding-top: 20px;
      /*padding-bottom: 20px;*/
      width: 1100px;
      position: relative;
}

.top_img {
      height: 130px;
      margin-top: -10px;
}

.main_head {
      /*position: relative;*/
}
  
.margin {
      margin-bottom: 15px;
}

.not_footer {
      height: 100%;
      margin-bottom: -157px;
}

.bg-1 {
      background-color: #ce7485;
      color: #ffffff;
      margin-left: 10%;
      margin-right: 10%;
      -moz-border-radius: 15px;
      border-radius: 15px;
}

.bg-2 {
      /*background-color: #474e5d;*/ /* Dark Blue */
      background-color: #f7f7f7;
      color: #ffffff;
      margin-top: 20px;
      -moz-border-radius: 15px;
      border-radius: 15px;
}

.bg-3 {
      background-color: #f7f7f7;
      color: #555555;
      -moz-border-radius: 15px;
      border-radius: 15px;
      padding: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
}

.bg-4 {
      /*background-color: #2f2f2f;*/ /* Black Gray */
      background-color: #2f2f3f;
      color: #fff;
      margin-top: 20px;
      -moz-border-radius: 15px 15px 0px 0px;
      border-radius: 15px 15px 0px 0px;
      height: 167px;
}

.bg-toc {
      background-color: #f7f7f7;
      color: #555555;
      -moz-border-radius: 15px;
      border-radius: 15px;
}

.bg-sample {
      background-color: #f7f7f7;
      color: #555555;
      -moz-border-radius: 15px;
      border-radius: 15px;
}

.mid_text {
      color:#3e3e7f;
      padding-top: 30px;
      padding-bottom: 30px;
}

.mid_title {
      font: bold 32px caviarDreams;
      padding-bottom: 10px;
}

.mid_body {
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
}

.block_title {
      font: bold 28px caviarDreams;
      padding-bottom: 10px;
      color:#3e3e7f;
}
  
.block_text {
      padding-top: 20px;
      color:#3e3e7f;
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
}

.my_row {
      margin-top: -35px;
}

.navbar {
      padding-bottom: 0px;
      padding-top: 5px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0px;
      background-color: #ffffff;
    
      /*margin-left: 15%;
      margin-right: 15%;*/
      
      letter-spacing: 5px;
      height: 110px;
      font: 17px Montserrat, sans-serif;
      /*font: 15px caviarDreams, Montserrat, sans-serif;*/
      /* min-width: 990px; */
}
  
.navbar-nav  li a:hover {
      color: #1abc9c !important;
      z-index: 9999;
}
  
.navbar-nav {
      margin: 25px 15px 0px -15px;
      z-index: 9999;
      position: relative;
      color: #3e3e7f;
      background-color: #ffffff;
}

.navbar-brand {
      padding:0px 10px 10px 40px;
      margin-top: -17px;
      z-index: 9999;
}

.inscape_drop_items {
      /* background-color: #f8f8f8; */
      background-color: transparent;
}

.inscape_drop_items:focus {
      background-color: #ce7485;
}

.navbar-collapse {
      border-top: none;
      margin-left: 20%;
      /*margin-right: 20%;*/
}

.container {
      display: block;
      width: 100%;
      
      /*margin-left: 10%;*/
      /*margin-right: 10%;*/
    }

.myslide {
      background-color: white;
}
    
.slide_img {
      /*position: absolute;*/
      width: 1100px;
      position: relative;
      -moz-border-radius: 5px;
       border-radius: 5px;
}

.carousel-control {
      -moz-border-radius: 5px;
       border-radius: 5px;
}

.title_pos {
       position: absolute; 
       top: 15%; 
}

.title_pos_sm {
       position: absolute; 
       top: 5%; 
}

.text_pos {
       position: absolute; 
       top: 65%;   
}

.text_pos_sm {
       position: absolute; 
       top: 70%;   
}

.ss_text_1 {
       color: white;
       font: bold 24px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
       letter-spacing: -1px; 
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(62, 62, 127, 0.6);
       padding: 5px; 
       -moz-border-radius: 5px;
       border-radius: 5px;
}

.ss_title_1 {
       color: white;
       font: bold 30px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
       letter-spacing: -1px; 
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(62, 62, 127, 0.6);
       padding: 10px; 
       -moz-border-radius: 5px;
       border-radius: 5px;
}

.cap_txt_fix_bg{
      right: 25%;
      left: 25%;
}

.cap_title_fix_bg{
      right: 15%;
      left: 15%;
}

.ss_text_2 {
       color: white;
       font: bold 24px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
       letter-spacing: -1px; 
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(127, 62, 62, 0.6);
       padding: 5px; 
       -moz-border-radius: 5px;
       border-radius: 5px;
}

.ss_title_2 {
       color: white;
       font: bold 30px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
       letter-spacing: -1px; 
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(127, 62, 62, 0.6);
       padding: 10px; 
       -moz-border-radius: 5px;
       border-radius: 5px;
       /*margin: -30px;*/
}

.ss_text_3 {
       color: white;
       font: bold 24px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
       letter-spacing: -1px; 
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(62, 127, 62, 0.6);
       padding: 5px; 
       -moz-border-radius: 5px;
       border-radius: 5px;
}

.ss_title_3{
       color: white;
       font: bold 30px caviarDreams; /*bold 24px/45px Helvetica, Sans-Serif; */
       letter-spacing: -1px; 
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(62, 127, 62, 0.6);
       padding: 10px; 
       -moz-border-radius: 5px;
       border-radius: 5px;
       /*margin: -30px;*/
}



.p_caption{
      font-size: 30px;
}

.slide_whole{
      /*position: absolute;*/
      width: 1100px;
      font-family: 'Varela Round';
      position: relative;  
}

.front_img {
      width:100%;
      max-height:250px; 
      max-width:336px; 
      margin: auto;
      -moz-border-radius: 10px;
      border-radius: 10px;
}

.logo_img{
      height: 70px; 
      margin:auto;
}

.center {
      margin-left: auto;
      margin-right: auto;
}

h2.page_title{
      color: black;
      font: 32px caviarDreams;
      margin-top: 0px;
      margin-bottom: 10px;
}

h3.page_title{
      color: black;
      font: 28px caviarDreams;
      margin-top: 0px;
      margin-bottom: 10px;
}

.inner_text{
      padding: 40px;
      font-size: 22px;
}

a.button {
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;

      text-decoration: none;
      color: initial;
      text-align: center;
}
.arrow{
    height: 64px;
}

h4.past{
  font: 24px caviarDreams;
}

.issue_div{
  padding: 20px;
}

footer{
  line-height: 150%;
  font-size: 18px;
}

.bottom_imgs{
  max-height: 90px;

}

.past_iss_img{
      -moz-border-radius: 10px;
      border-radius: 10px;
}

@media only screen and (max-width: 1500px) {

  body {
      /*font: 20px Montserrat, sans-serif;*/
      /*font-family: 'Varela Round', Helvetica, Sans-Serif;*/
      font-family: Helvetica, Sans-Serif;
      line-height: 1.8;
      color: #f5f6f7;
      font-size: 16px;
  }
  p { 
  font-family: 'Varela Round';
  }
  
  
  .top_img {
        height: 130px;
        margin-top: -10px;
  }

  .margin {margin-bottom: 15px;}

  .bg-1 {
      background-color: #ce7485; /* Redish */
      color: #ffffff;
      margin-left: 10%;
      margin-right: 10%;
  }
  .bg-2 {
      /*background-color: #474e5d;*/ /* Dark Blue */
      background-color: #f7f7f7;
      color: #ffffff;
  }
  .bg-3 {
      background-color: #f7f7f7;
      color: #555555;
      margin-top: 20px;
  }

  .container-fluid {
      padding-top: 20px;
      /*padding-bottom: 70px;*/
      padding-bottom: 0px;
      width: 1100px;
      position: relative;
  }
  .mid_text{
    color:#3e3e7f;
         padding-top: 30px;
      padding-bottom: 30px;
  }
  .navbar {
      padding-bottom: 12px;
    
      /*margin-left: 15%;
      margin-right: 15%;*/
      
      letter-spacing: 5px;
      height: 110px;
      font: 15px Montserrat, sans-serif;
      /*font: 15px caviarDreams, Montserrat, sans-serif;*/
      /* min-width: 990px; */
  }

  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .navbar-nav {
    margin: 25px 15px 0px -15px;
    z-index: 10;
    position: relative;
  }
  .navbar-nav {
  color: #3e3e7f;
  background-color: #ffffff;
  }
  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
  }
  .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: transparent;
  }
  .inscape_drop_items:focus{
  background-color: #ce7485;
  }
  .navbar-collapse{
    border-top: none;
    margin-left: 10%;
    /*margin-right: 10%;*/
  }
  .container{
    display: block;
    width: 100%;
    
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    }
    
    .slide_img {
    /*position: absolute;*/
    width: 1100px;
    position: relative;

    /* 
margin-left: 10%;
    margin-right: 10%;
 */
    
}

.ss_title_1{font: bold 28px caviarDreams;}
.ss_title_2{font: bold 28px caviarDreams;}
.ss_title_3{font: bold 28px caviarDreams;}

.ss_text_1{font: bold 24px caviarDreams;}
.ss_text_2{font: bold 24px caviarDreams;}
.ss_text_3{font: bold 24px caviarDreams;}

.p_caption{
  font-size: 30px;
}
    .slide_whole{
    /*position: absolute;*/
    width: 1100px;
      font-family: 'Varela Round';
    position: relative;

    /* 
margin-left: 10%;
    margin-right: 10%;
 */
    
}


}

  
  @media only screen and (max-width: 1133px) {
    .bg-1 {
        background-color: lightblue;
        margin-left: 0%;
        margin-right: 0%; 
    }
      .container-fluid {
      padding-top: 20px;
      /*padding-bottom: 70px;*/
      padding-bottom: 0px;
      width: 100%;
      position: relative;
  }


  .logo_img{
  }

.ss_title_1{font: bold 24px caviarDreams;}
.ss_title_2{font: bold 24px caviarDreams;}
.ss_title_3{font: bold 24px caviarDreams;}

.ss_text_1{font: bold 20px caviarDreams;}
.ss_text_2{font: bold 20px caviarDreams;}
.ss_text_3{font: bold 20px caviarDreams;}

  .mid_text{
    color:#3e3e7f;
         padding-top: 30px;
      padding-bottom: 30px;
  }

.p_caption{
  font-size: 10px;
}
    
      .navbar {
      /*padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 0px;
      padding-right: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 10px;
      font-size: 12px;
      letter-spacing: 5px;
      height: 90px;
      margin-left: 0%;
      margin-right: 0%;*/
      padding-bottom: 12px;
    
      /*margin-left: 15%;
      margin-right: 15%;*/
      
      letter-spacing: 5px;
      height: 110px;
      font: 16px Montserrat, sans-serif;
      z-index: 9999;
  }
  
    .navbar-collapse{
    border-top: none;
    margin-left: 0%;
    margin-right: 0%;
     z-index: 9999;
  }

      .navbar-nav  li a:hover {
      color: #1abc9c !important;
      z-index: 9999;
  }
  .navbar-nav {
    margin: 25px 15px 0px -15px;
    z-index: 9999;
    position: relative;
  }
  .navbar-nav {
  color: #3e3e7f;
  background-color: #ffffff;
  z-index: 9999;
  }
  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
    z-index: 9999;
  }
  .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: transparent;
  }
  .inscape_drop_items:focus{
  background-color: #ce7485;
  }
  
      /*position: absolute;*/
    .slide_img {
    width: 1100px;
    position: auto;
    margin-left: 0%;
    margin-right: 0%;
    }

    .slide_whole {
    /*position: absolute;*/
    /* 
      margin-left: 10%;
      margin-right: 10%;
    */
      width: 100%;
    }

    .front_img {
  width:100%;
  /*max-height:200px;*/ 
  max-width:269px; 
  margin: auto;
}
    
      .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: #ffffff;
  }
  
}
@media only screen and (max-width: 1010px){
      .navbar {

      font: 14px Montserrat, sans-serif;
      letter-spacing: 3px;
  }
}

@media only screen and (max-width: 991px){
  .block_text{
    padding-left: 140px;
    padding-right: 140px;}

}

@media only screen and (max-width: 900px){
      .navbar {

      /*font: 13px Montserrat, sans-serif;*/
      letter-spacing: 3px;
  }
    .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-left: -15px;
  }

    .ss_title_1{font: bold 20px caviarDreams;}
    .ss_title_2{font: bold 20px caviarDreams;}
    .ss_title_3{font: bold 20px caviarDreams;}

    .ss_text_1{font: bold 18px caviarDreams;}
    .ss_text_2{font: bold 18px caviarDreams;}
    .ss_text_3{font: bold 18px caviarDreams;}
    .text_pos{
     position: absolute; 
     top: 60%;   
}
}

@media only screen and (max-width: 760px){

footer{
  line-height: 100%;
  font-size: 14px;
}

.bottom_imgs{
  max-height: 60px;

}
}

@media only screen and (max-width: 754px){
    .front_img {
  width:100%;
  /*max-height:250px; */
  max-width:336px; 
  margin: auto;
}
.bg-3{
  margin: 15px;
}

    .ss_title_1{font: bold 18px caviarDreams;}
    .ss_title_2{font: bold 18px caviarDreams;}
    .ss_title_3{font: bold 18px caviarDreams;}

    .ss_text_1{font: bold 16px caviarDreams;}
    .ss_text_2{font: bold 16px caviarDreams;}
    .ss_text_3{font: bold 16px caviarDreams;}

      .text_pos{
     position: absolute; 
     top: 65%;   
}

  .title_pos{
     position: absolute; 
     top: 10%;   
}

.collapse{
  width: 744px;
}

.navbar {
  font-size: 18px;
}

}

@media only screen and (max-width: 750px){

}

@media only screen and (max-width: 746px){
    .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-left: -25px;
  }

}
@media only screen and (max-width: 600px){

    .block_text{
    padding-left: 40px;
    padding-right: 40px;}

    .ss_title_1{font: bold 16px caviarDreams;}
    .ss_title_2{font: bold 16px caviarDreams;}
    .ss_title_3{font: bold 16px caviarDreams;}

    .ss_text_1{font: bold 14px caviarDreams;}
    .ss_text_2{font: bold 14px caviarDreams;}
    .ss_text_3{font: bold 14px caviarDreams;}
.text_pos{
     position: absolute; 
     top: 55%;   
}
}

@media only screen and (max-width: 554px){

  .logo_img{
    height: 40px;
    margin: auto;
  }
  .navbar-toggle{
  margin-right: -5px;
}

.ss_title_1{font: bold 14px caviarDreams;}
.ss_title_2{font: bold 14px caviarDreams;}
.ss_title_3{font: bold 14px caviarDreams;}

    .ss_text_1{font: bold 12px caviarDreams;}
    .ss_text_2{font: bold 12px caviarDreams;}
    .ss_text_3{font: bold 12px caviarDreams;}

}

  @media only screen and (max-width: 380px) {

    .block_text{
    padding-left: 10px;
    padding-right: 10px;}

  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
    margin-left: -30px;
  }
  .navbar-toggle{
  margin-right: -10px;
}
          .navbar {
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 0px;
      padding-right: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 10px;
      letter-spacing: 5px;
      height: 90px;
      /*margin-left: 0%;
      margin-right: 0%;*/
      z-index: 9999;
  }
  
    .navbar-collapse{
    border-top: none;
    /*margin-left: 0%;
    margin-right: 0%;*/
    margin-left: -6%;
    z-index: 9999;
  }

    .navbar-nav  li a:hover {
      color: #1abc9c !important;
      z-index: 9999;
  }
  .navbar-nav {
    margin: 25px 15px 0px -15px;
    z-index: 9999;
    position: relative;
  }
  .navbar-nav {
  color: #3e3e7f;
  background-color: #ffffff;
  z-index: 9999;
  }
  .inscape_drop_items{
    /* background-color: #f8f8f8; */
    background-color: transparent;
  }
  .inscape_drop_items:focus{
  background-color: #ce7485;
  }
  .text_pos{
     position: absolute; 
     top: 50%;   
}

    .ss_text_1{font: bold 10px caviarDreams;}
    .ss_text_2{font: bold 10px caviarDreams;}
    .ss_text_3{font: bold 10px caviarDreams;}


}
    @media only screen and (max-width: 370px) {

     .top_img {
        weigth: 207px;
        height: 118px;
     }
         .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-left: -45px;
  }
  .navbar-toggle{
  margin-right: -12px;
}

     .container {
        padding-left: 0px;
        padding-right: 0px;
     }
  .text_pos{
     position: absolute; 
     top: 45%;   
}
}