  body {
      /*font: 20px Montserrat, sans-serif;*/
      font-family: 'Varela Round';
      line-height: 1.8;
      color: #f5f6f7;
      font-size: 16px;
  }
  p {}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #ce7485; /* Redish */
      color: #ffffff;
      margin-left: 10%;
      margin-right: 10%;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      width: 1100px;
      position: relative;
  }
  .navbar {
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 7%;
      padding-right: 7%;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      background-color: #ffffff;
    
   margin-left: 15%;
      margin-right: 15%;
 
      font-size: 12px;
      
      letter-spacing: 5px;
      height: 110px;
      font: 15px Montserrat, sans-serif;
      /* min-width: 990px; */
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .navbar-nav {
  	margin: 25px 15px 0px -15px;
  	z-index: 10;
    position: relative;
  }
  .navbar-nav {
  color: #3e3e7f;
  background-color: #ffffff;
  }
  .navbar-brand {
    padding:0px 10px 10px 40px;
    margin-top: -17px;
  }
  .inscape_drop_items{
  	/* background-color: #f8f8f8; */
  	background-color: transparent;
  }
  .inscape_drop_items:focus{
  background-color: #ce7485;
  }
  .navbar-collapse{
  	border-top: none;
  	margin-left: 20%;
    margin-right: 20%;
  }
  .container{
  	display: block;
  	width: 100%;
  	
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
  	}
  	
  	.slide_img {
    /*position: absolute;*/
    width: 1100px;
    position: relative;

    /* 
margin-left: 10%;
    margin-right: 10%;
 */
    
}

.ss_text_1 {
  font-size: 40px;
  position: absolute; 
  top: 15%;
}

.ss_text_2 {
  font-size: 40px;
  position: absolute; 
  top: 10%;
  font-family: 'Varela Round';
  color: rgb(0,0,0);
}

.ss_text_3 {
  font-size: 40px;
  position: absolute; 
  font-family: 'Varela Round';
  top: 15%;
}

.p_caption{
  font-size: 30px;
}
  	.slide_whole{
    /*position: absolute;*/
    width: 1100px;
      font-family: 'Varela Round';
    position: relative;

    /* 
margin-left: 10%;
    margin-right: 10%;
 */
    
}


.center {
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (max-width: 1100px) {

}

  
  @media only screen and (max-width: 1100px) {
    .bg-1 {
        background-color: lightblue;
        margin-left: 0%;
        margin-right: 0%; 
    }
      .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      width: 100%;
      position: relative;
  }

  .ss_text_1 {
  font-size: 20px;
  position: absolute; 
  top: 15%;
}

.ss_text_2 {
  font-size: 20px;
  position: absolute; 
  top: 15%;
  color: rgb(0,0,0);
}

.ss_text_3 {
  font-size: 20px;
  position: absolute; 
  top: 15%;
}

.p_caption{
  font-size: 10px;
}
    
      .navbar {
      padding-top: 10px;
      padding-bottom: 7px;
      padding-left: 0px;
      padding-right: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      height: 90px;
      margin-left: 0%;
      margin-right: 0%;
  }
  
    .navbar-collapse{
  	border-top: none;
  	margin-left: 0%;
    margin-right: 0%;
  }
  
      /*position: absolute;*/
    .slide_img {
    width: 1100px;
    position: auto;
    clip: rect(0px,100px,100px,0px);
    margin-left: 0%;
    margin-right: 0%;
    }
      	.slide_whole {
    /*position: absolute;*/
    /* 
margin-left: 10%;
    margin-right: 10%;
 */
 width: 100%;
    }
    
      .inscape_drop_items{
  	/* background-color: #f8f8f8; */
  	background-color: #ffffff;
  }
  
}
